:root {
  font-family: Inter, "Segoe UI", Avenir, Helvetica, Arial, sans-serif;
  color: #eaeaea;
  background-color: #1e1e1e;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
}

body {
  overflow: hidden;
}
